{% extends 'base.html' %}

{% block content %}
<div class="fondo">
    <div class="card text-bg-light mb-3 border-success izquierda">
        <div class="card-header">Bienvenido a Eco-Task</div>
        <div class="card-body">
          <h5 class="card-title">Como funciona</h5>
          <p class="card-text">Primero debes crearte un usuario para poder acceder a las misiones, las cuales puedes marcar que completaste y asi sumar puntos a tu perfil, si tienes los suficientes puntos, ¡puedes aparecer en la tabla de los 10 usuarios con más puntos de la pagina!</p>
        </div>
      </div>
    </div>
    <div class="card text-bg-light border-success mb-3 derecha">
        <div class="card-header">Proposito</div>
        <div class="card-body">
          <h5 class="card-title">¿Para que sirve la pagina?</h5>
          <p class="card-text">Esta pagina sirve para incitar a la gente a mantenerse reciclando constantemente, ya que, ¿a quien no le gustaria estar como uno de los mejores en alguna pagina publica?, por lo cual empezarian a reciclar para superar a los demas</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}