{% extends 'base.html' %}

{% block content %}
<div class="card margen-superior" style="width: 50rem">
    <img src="/static/imagenes/Mapa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">En los circulos marcados con azul se encuentran los tarros de reciclaje.</p>
    </div>
</div>

<div class="card derecha" style="width: 50rem;">
    <img src="/static/imagenes/Basureros.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Estos son los tipos de basureros que se pueden encontrar en las secciones mencionadas.</p>
    </div>
  </div>
{% endblock %}

